body {
  color:#32CD32;
  background-image: url(fon.png);
  font-size: 25pt;
     }
Ol {
font-size: 35pt;
color :#00FF00;
margin-left: 20px;
   }
H1 {
font-size :40pt;
color :#32CD32;
text-align: center;
   }
